<div class="container rounded">
    <img src="../../assets/img/akura_logo.png" alt="Akura Logo"><br>
    <h5>User Registration</h5>
    
    <form>
        <!--{{userModel|json}}-->

        <mat-horizontal-stepper>
            
            <mat-step label="User Details">
                <!--Name Entering-->
                <label for="">Full Name</label>
                <div class="row">

                    <div class="col">
                        <input type="text" class="form-control" placeholder="*First Name" name="fname"
                            [(ngModel)]='userModel.fname'>

                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="Midel Name" name="mname"
                            [(ngModel)]='userModel.mname' required>
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="*Surname" name="sname" required
                            [(ngModel)]='userModel.sname'>

                    </div>

                </div>

                <!--Password entering-->
                <div class="form-group container_small">
                    <label for="">Password</label>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control" id="" placeholder="*Password" name="password"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]='userModel.password' required>
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" id="" placeholder="*Confirm Password"
                                [(ngModel)]='userModel.password_confirmation' name="password_confirmation" required>
                        </div>
                    </div>
                    <small id="" class="form-text text-muted">Least contain, 8 characters,One numerical character and
                        symbol.</small>
                </div>


                <!--DOB Entering-->
                <div class="form-group container_small">
                    <label for="">Date of Birth*</label>
                    <input type="date" name="dob" id="" [(ngModel)]="userModel.dob" class="form-control">
                </div>
                <!--gender Entering-->
                <div class="form-group container_small border border-secondary p-1 rounded">
                    <label for="">Gender*</label><br>
                    <div class="gen">
                        <input type="radio" class="" id="" name="gender" value="male"
                            [(ngModel)]="userModel.gender">Male <br>
                        <input type="radio" class="" id="" name="gender" value="female"
                            [(ngModel)]="userModel.gender">female
                    </div>
                </div>

                <!--Position Entering-->
                <div class="form-group container_small">
                    <label for="">Position</label>
                    <select name="position" class="form-control" (change)="selectChange($event)"
                        [(ngModel)]="userModel.position">
                        <option value="">I am ...</option>
                        <option value="student">Student</option>
                        <option value="sponsor">Sponsor</option>
                        <option value="coordinator">Coordinator</option>
                        <option value="mentor">Mentor</option>
                    </select>
                </div>


                <button mat-button matStepperNext>Next</button>
            </mat-step>

            <mat-step label="Contact Details">
                <div>
                    <!--Email-->
                    <div class="form-group container_small">
                        <label for="">Email address</label>
                        <input type="email" class="form-control" id="" placeholder="Your mail" required
                            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" name="email"
                            [(ngModel)]='userModel.email'>
                    </div>

                    <!--Contact number-->
                    <div class="form-group container_small">
                        <label for="">Contact Number</label>
                        <input type="tel" class="form-control" id="" id="" placeholder="*Contact No: +94765454544"
                            required placeholder="*Contact No: +94765454544" name="cnumber"
                            [(ngModel)]='userModel.cnumber'>

                    </div>

                    <!--address entering-->
                    <div class="form-group container_small">
                        <label for="">Address</label>
                        <textarea class="form-control" id="" placeholder="445 Mount Eden Road, Mount Eden, Auckland."
                            cols="20" rows="5" name="address" [class.is-invalid]="address.invalid && address.touched"
                            #address="ngModel" [(ngModel)]="userModel.address" required></textarea>
                        <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is
                            required</small>
                    </div>


                </div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step label="Other Details">

                <div>


                    <div *ngIf="ev == ex[0]">
                        <!--Registration type-->
                        <div class="form-group container_small">
                            <label for="">Registration type</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>

                    <div *ngIf="ev == ex[1]">
                        <!--Payment type Entering-->
                        <div class="form-group container_small">
                            <label for="">Payment type</label>
                            <select name="paymentType" class="form-control" [(ngModel)]="userModel.paymentType">
                                <option value="">Select One...</option>
                                <option value="money">Money</option>
                                <option value="inventory">Inventory</option>
                            </select>
                        </div>

                        <!--Payment Amount Entering-->
                        <div class="form-group">
                            <label for="">Payment Amount</label><br>
                            <input type="text" class="form-control" id="" name="paymentAmount" [(ngModel)]="userModel.paymentAmount"
                                placeholder="Enter the amount you expect to offer">
                        </div>

                        <!--occupation Entering-->
                        <div class="form-group">
                            <label for="">Occupation</label><br>
                            <input type="text" class="form-control" id="" name="occupation" [(ngModel)]="userModel.occupation"
                                placeholder="Enter your occupation here">
                        </div>
                    </div>

                    <div *ngIf="ev == ex[2]">
                        <!--Medium Entering-->
                        <div class="form-group container_small">
                            <label for="">Medium</label>
                            <select name="medium" class="form-control"  [(ngModel)]="userModel.medium">
                                <option value=''>Select One...</option>
                                <option value="sinhala">Sinhala</option>
                                <option value="tamil">Tamil</option>
                                <option value="english">English</option>
                            </select>
                        </div>


                        <!--Subject Entering-->
                        <div class="form-group container_small">
                            <label for="">Subject/Interested Fields</label>
                            <textarea class="form-control" name="subject" [(ngModel)]="userModel.subject"
                                placeholder="subjects which you like to be in mentoring" cols="20" rows="5"
                                name="subject" required></textarea>
                        </div>


                        <!--occupation Entering-->
                        <div class="form-group">
                            <label for="">Occupation</label><br>
                            <input type="text" class="form-control" id="" name="occupation" [(ngModel)]='userModel.occupation'
                                placeholder="Enter your occupation here">
                        </div>
                    </div>

                    <div *ngIf="ev==ex[3]">
                        <!--Medium Entering-->
                        <div class="form-group container_small">
                            <label for="">Medium</label>
                            <select name="medium" class="form-control" (change)="selectChange($event)" [(ngModel)]='userModel.medium'>
                                <option value=''>Select One..</option>
                                <option value="sinhala">Sinhala</option>
                                <option value="tamil">Tamil</option>
                                <option value="english">English</option>
                            </select>
                        </div>

                        <!--occupation Entering-->
                        <div class="form-group">
                            <label for="">Occupation</label><br>
                            <input type="text" class="form-control" id="" name="occupation"
                                placeholder="Enter your occupation here" #occupation="ngModel"
                                [(ngModel)]="userModel.occupation">
                        </div>
                    </div>

                </div>

                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)='onSubmit()'>Submit</button>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>